@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

html {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    padding-bottom: 2rem;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--rose-white);
}

.text-wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 75%;
  margin-left: 2rem;
}

.time h3 {
  font-family: "Young Serif";
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-left: 3rem;
  font-size: 1.05rem;
  color: var(--dark-raspberry);
}

h1 {
  padding-bottom: 1rem;
  font-family: "Young Serif";
}

h2 {
  font-family: "Young Serif";
  color: var(--nutmeg);
  padding-top: 3rem;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
}

ul,
ol,
li,
table,
td,
tr {
  margin-left: 2rem;
}

.spannit {
  font-weight: 700;
}

.colorbullet {
  color: var(--dark-raspberry);
}

.colortext {
  color: var(--dark-charcoal);
}

.colorbullet2 {
  color: var(--nutmeg);
}

.colortext2 {
  color: var(--dark-charcoal);
}

.nutrition-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

td {
  padding-right: 5rem;
}